.navbar-brand-style{
    font-size: 40px !important;
    background: #181a1b;
    border: 2px solid #5bc0de;
    border-radius: 5px;
    font-family: 'Verdana', Times, serif;
}

.nav-item-style{
    font-size: 20px;
    background: #181a1b;
    border: 2px solid #5bc0de;
    border-radius: 5px;
    font-family: 'Verdana', Times, serif;
}

.nav-item-style:hover{
    opacity: 0.5;
}