.navbar-brand-style{
    font-size: 40px !important;
    background: #181a1b;
    border: 1px solid #f5f5f0;
    border-radius: 10px;
    
}

.nav-item-style{
    font-size: 20px;
    background: #181a1b;
    border: 1px solid #f5f5f0;
    border-radius: 10px;
}

.nav-item-style:hover{
    opacity: 0.5;
}