.bg-dark-1{
    background:#1f1f14;
}

.bg-dark-2{
    background:#0d0d0d;
}

.bg-dark-3{
    background:#000000;
}

.page-title{
    border: 1px solid #f5f5f0;
    border-radius: 8px; 
}

.card-header-font-sz{
    font-size: 24px;
}

.card-footer-font-sz{
    font-size: 18px;
}

.link-underline-style{
    text-decoration:none !important;
}
.name-title-font-sz{
    font-size:20px;
}
